
@model IEnumerable<Destination>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<section id="main-content" class=" ">
	<section class="wrapper main-wrapper row" style=''>

		<div class='col-12'>
			<div class="page-title">
				<div class="float-left">
					<h1 class="title">List of Destinations</h1>
				</div>
				<div class="float-right d-none">
					<ol class="breadcrumb">
						<li>
							<a href="index.html">
							<i class="fa fa-home"></i>Home</a>
						</li>
						<li>
							<a href="tables-basic.html">Tables</a>
						</li>
						<li class="active">
							<strong>Basic tables</strong>
						</li>
					</ol>
				</div>

			</div>
		</div>
		<div class="clearfix"></div>
		<!-- MAIN CONTENT AREA STARTS -->

		<div class="col-xl-12">
			<section class="box ">
				<header class="panel_header">
					<h2 class="title float-left">Blank Page</h2>
					<div class="actions panel_actions float-right">
						New Destination
						<a class="box_close fa fa-plus"></a>
					</div>
				</header>
				<div class="content-body">
					<div class="row">
						<div class="col-12">
							<div class="table-responsive">

								@* Check if there are any Destinations *@
								@if (Model.Count() > 0)
								{
									<table class="table table-bordered">
										<thead>
											<tr>
												<th>@Html.DisplayNameFor(d => d.ID)</th>
												<th>@Html.DisplayNameFor(d => d.Region)</th>
												<th>@Html.DisplayNameFor(d => d.Country)</th>
												<th>@Html.DisplayNameFor(d => d.Place)</th>
												<th>@Html.DisplayNameFor(d => d.Address)</th>
												<th>@Html.DisplayNameFor(d => d.Population)</th>
											</tr>
										</thead>
										<tbody>
											@* Display every field added from Destination form *@
											@foreach (var item in Model)
											{
												<tr>
													<th scope="row">1</th>
													<td>@Html.DisplayFor(d => item.ID)</td>
													<td>@Html.DisplayFor(d => item.Region)</td>
													<td>@Html.DisplayFor(d => item.Country)</td>
													<td>@Html.DisplayFor(d => item.Place)</td>
													<td>@Html.DisplayFor(d => item.Address)</td>
													<td>@Html.DisplayFor(d => item.Population)</td>
												</tr>
												<tr>
													EDIT | DELETE | DETAILS
												</tr>
											}
										</tbody>
									</table>
								}
								else
								{
									<p class="text-danger">Critical Alert! Server cannot display requested information. 
										Please contact your Network Administrator.</p>
								}
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</section>
</section>